* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #25283c;
}

::-webkit-scrollbar-thumb {
    background-color: #161722;
    border-radius: 5px;
}

body {
    background-image: url('../public/images/bg_image.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: #161722;


    .App {
        margin: 0 auto;
        width: 550px;
        padding-top: 80px;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h1 {
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 21px;
                font-size: 32px;
            }
        }

        .container {
            display: flex;
            align-items: center;
            background: #25283c;
            padding: 19px 20px;
            gap: 20px;

            input {
                padding: 0.5rem;
                border: none;
                color: #e4e5f1;
                outline: none;
                font-size: 16px;
                background-color: transparent;
                width: 100%;
            }

            .todo_button {
                width: 25px;
                height: 23px;
                border: 1px solid #a6abd8;
                border-radius: 50%;
                background: transparent;
                cursor: pointer;
                transition: all 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 8px;
                    color: #a6abd8;
                }

                &:hover {
                    background-color: #3a7bfd;
                    border-color: #3a7bfd;

                    i {
                        color: #fff;
                    }
                }
            }

            option {
                border: none;
                background-color: transparent;
                color: #515267;
                cursor: pointer;
                transition: .1s ease-in-out;

                &:hover {
                    color: #fff;
                }
            }

            .active {
                color: red;
            }
        }

        .add {
            margin: 40px 0 25px 0;
            border-radius: 5px;
        }


        .todo_container {
            display: flex;
            justify-content: center;
            width: 100%;
            min-height: 198px;
            max-height: 198px;
            overflow-y: auto;
            // background: #25293c;

            .todo_list {
                width: 100%;

                .todo {
                    background: #25283c;
                    color: black;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px;
                    transition: all .2s ease;
                    border-top: 1px solid #4d5066;
                    gap: 20px;

                    li {
                        flex: 1;

                        p {
                            color: #a6abd8;
                            max-width: 18px;
                        }
                    }

                    .complete-btn {
                        width: 25px;
                        height: 25px;
                        border: 1px solid #4d5066;
                        border-radius: 50%;
                        background: transparent;
                        cursor: pointer;
                        transition: .2s ease-in-out;
                        overflow: hidden;
                    }

                    .check {
                        display: none;
                    }

                    .trash-btn {
                        width: 18px;
                        height: 18px;
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        transition: .2s ease-in-out;
                        color: #4d5066;
                        opacity: 0;

                        i {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    &:hover .trash-btn {
                        opacity: 1;
                    }
                }

                .completed {

                    .check {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(45deg, #57ddff, #c058f3);

                        i {
                            color: #fff;
                        }
                    }

                    p {
                        opacity: 0.5;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}